/*Basic Page Styling*/
body{
  background-color: #000;
  background-image: url('../img/about-bg.jpg');
  background-attachment: fixed;
  background-size:cover;
  margin: 1% 2%;
  display: table;
}
nav{
  margin-bottom: 10px;
  font-size: 1.2em
}
.centering, .title, nav {
  text-align: center;
}


/*about me section*/
.about-me{
  background-color: rgba(0,0,0,.2);
  max-height: 100%;
  padding: 5px 5px 5px 15px;
  color: rgba(0,0,0,.7);
  margin-bottom: 10px;
}
.about-me img, .contact-me img{
  display:block;
  float: left;
  padding: 10px;
  height:100px;
  width: 100px;
  border-radius: 100%;
}
.about-container ol, .about-container ul{
  list-style-type: none;
}
.about-container, .project p{
  color: white;
  opacity: .7;
}
.employment-list{
  margin-left: -78px
}

/*PROJECTS SECTION*/
.project-section{
  color: rgba(0,0,0,.6);
}
.project-section h2{
  text-align: center;
}
.panel-heading, .project{
  background-color: rgba(0,0,0,.2);
}
.project{

}
.project1, .project2{
  border-right: 5px, solid, black;
}
.p-header{
  font-size: 1.2em;
  text-align: center;
}
.pro-name{
  font-style: oblique;
}
.future {
  margin-top: 10px;
}
@media (max-width:770px) {
  .future p {
    color: lightgrey;
  }

}
